<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

<body>

<img src="img_la.jpg" alt="LA" style="width:100%">

<div class="">
 <h1>This is a Heading</h1>
 <p>This is a paragraph.</p>
 <p>This is another paragraph.</p>
</div>

<div class="w3-panel w3-yellow">
  <h3>Warning!</h3>
  <p>Yellow often indicates a warning that might need attention.</p>
</div> 

<div class="w3-card-4">
<header class="w3-container w3-blue">
  <h1>Header</h1>
</header>

<div class="w3-container">
  <p>Lorem ipsum...</p>
</div>

<footer class="w3-container w3-blue">
  <h5>Footer</h5>
</footer>
</div> 

 <div class="w3-row">
  <div class="w3-col" style="max-width:1000px"><p>I am 1000px weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee weeeeeeeeeeeeeee</p></div>
  <div class="w3-rest w3-green" style="min-width:400px"><p>I am the rest</p></div>
</div> 

</body>
</html> 